
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5D59E3;
}

button {
    font-size: 2rem;
    background-color: #3934E3;
    color: #E3E1EB;
    text-align: center;
}

a {
    text-decoration: none;
}

button.Categories {
    align-items: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 1rem 0 1rem;
    margin: 0 1rem 0 1rem;
    text-align: center;
    border: 1px solid blue;
}

nav a {
    color: #E3E1EB;
    font-size: 2rem;
}

#logo_nav {
    margin-right: 10rem;
}
/* Using borders to track elements */

/*

nav {
    border: 3px solid red;
}

nav ul li {
    border: 3px dashed green;
}

nav ul li a {
    border: 3px dotted white;
}

*/