
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5D59E3;
}

button {
    font-size: 2rem;
    background-color: #3934E3;
    color: #E3E1EB;
    text-align: center;
}

a {
    text-decoration: none;
}

button.categories {
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem ;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

nav a {
    color: #E3E1EB;
    font-size: 2rem;
}
/* Using borders to track elements */

/*

nav {
    border: 3px solid red;
}

nav ul li {
    border: 3px dashed green;
}

nav ul li a {
    border: 3px dotted white;
}

*/